html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,PingFangSC-Regular,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}
body{
  font-size: 14px;
}
p,h4,h1,h2,h3,h5,h6{
  margin:0;
  padding:0;
  border: 0;
}
ol,li,ul,dl,dt,dd{
  list-style:none;
  margin: 0;
  padding: 0;
}
/*全局nev样式*/
.nav-Type{
    width: 100%;
    height: 55px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border-bottom: 1px dashed #979797;
}
.nav-Type .el-breadcrumb__inner{
  font-size: 16px!important;
  font-weight: 600!important;
  color: #F20A59 !important;
  cursor: pointer;
}
.nav-Type .is-link{
  color:#999999 !important;
  font-weight: 400 !important;
}
.gm-nav .el-breadcrumb__inner{
  font-size: 16px !important;
  font-weight: 600!important;
  color: #036FE2 !important;
  cursor: pointer;
}
.gm-nav .is-link{
  color:#999999 !important;
  font-weight: 400 !important;
}
.gm-nav .bg-color .el-breadcrumb__inner{
  color:#999999 !important;
  font-weight: 400 !important;
}
.gm-format{
  font-size: 0.14rem;
  color: red;
}
.api-danger{
  font-size: 0.14rem;
  color: #333333;
  margin: 0 !important;
}
.api-danger span{
  font-size: 0.14rem;
  color: red;
}
.el-menu{
  border: none;
  overflow: hidden;
}
.el-submenu .el-menu-item{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  color: #666666;
  font-size: 16px !important;
}
.el-submenu .is-active{
  background: #F8F8F8;
  color: #036FE2;
}
.el-submenu .is-opened{
  background: none;
}
.el-submenu__title{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  color: #333333;
  font-weight: 600;
  font-size: 16px !important;
}
.gm-menu-vertical-demo .gm-apiTcf{
  padding-left: 10px !important;
}
/*富文本编辑框高度*/
.ql-container{
  height:4.5rem;
}
h3{
    color: #333333;
    font-weight: 600;
    font-size: 22px;
    height: 60px;
    line-height: 60px;
}
.overflow {
  overflow:hidden;
}
/* 弹出框样式 */
.gm-configItem .el-message-box__content{
  padding: 30px 30px !important;
}
/*重置element样式*/
.el-dialog .el-dialog__header {
    background: #409EFF;
    padding: 10px;
}
.el-dialog .el-dialog__header .el-dialog__title{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn{
    top: 10px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.el-dialog .el-dialog__body{
    padding: 30px 20px 0 20px;
}
.el-dialog .el-dialog__footer{
    text-align: center;
}

/*重置alert弹窗样式*/
.el-message-box{
    border: none;
    padding-bottom: 20px;
}
.el-message-box .el-message-box__header{
    background: #409EFF;
}
.el-message-box .el-message-box__header .el-message-box__title{
    color: #ffffff;
}

.el-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.el-message-box .el-message-box__content{
    padding: 50px 30px;
    color: #333333;
    font-weight: 600;
    /*text-align: center;*/
}
.el-message-box .el-message-box__btns{
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    justify-content: center;

}
.el-message-box .el-message-box__btns .el-button{
    margin-left: 10px;
}

.el-form-item__label{
    color: #666666;
    font-size: 14px;
}
.el-upload{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.el-table th {
    background-color: #F1F1F1;
    color: #666666;
    height: 60px;
    font-size: 14px;
}
.el-table td{
  font-size: 14px;
  color: #666666;
}
.el-tooltip__popper{
    max-width: 200px;
}
.el-link{
  margin-right: 8px;
}
/*禁止textarea拖动*/
.el-textarea .el-textarea__inner{
resize: none;
}

/*滚动条 start*/
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: rgba(151,151,151,0.1);
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px rgba(151,151,151,0.3);
  background: rgba(151,151,151,0.1);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 16px rgba(151,151,151,.3);
  background: rgba(151,151,151,0.1);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 16px rgba(151,151,151, .3);
  background: rgba(151,151,151.1);
}
